__temp
_.log
_.pid
_.seed
.cache
.cache/
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.eslintcache
.fusebox/
.grunt
.idea/
.lock-wscript
.next
.next/
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp
.pnp.*
.pnp.js
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.turbo
.vscode-test
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.app
*.avi
*.class
*.exe
*.flv
*.jar
*.lcov
*.log
*.mov
*.mp4
*.pem
*.pid
*.pid.lock
*.py[cod]
*.seed
*.tgz
*.tiff
*.tsbuildinfo
*.war
*.wmv
**/*.d.ts
**/*temp
/tmp
\*.lcov
\*.pid.lock
\*.tgz
\*.tsbuildinfo
bower_components
build
build/Release
coverage
dist
dist/
dump/
jspm_packages/
lerna-debug.log*
lerna-debug.log\*
lib-cov
logs
node_modules
node_modules/
npm-debug.log_
npm-debug.log*
out
out/
pids
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
template\.yaml
TEST*.xml
Thumbs.db
todo.txt
typings/
web_modules/
yarn-debug.log*
yarn-error.log*
!.env.example
