{
	"printWidth": 100,
	"singleQuote": false,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"bracketSameLine": false,
	"editorconfig": true,
	"endOfLine": "lf",
	"tabWidth": 3
}
